<%- layout ('./layouts/boilerplate') %>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Student Registration</h1>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- jquery validation -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Students <small>Information</small></h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form id="quickForm" action="<%= parent ? '/students/' +parent._id : '/students' %>" method="POST">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="firstname">Firstname</label>
                                        <input type="text" name="student[firstname]" class="form-control" id="fristname" placeholder="Enter firstname">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname">Lastname</label>
                                        <input type="text" name="student[lastname]" class="form-control" id="lastname" placeholder="Lastname">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <% if(parent) { %>
                                            <input type="text" name="student[phone]" class="form-control" id="phone" value="<%= parent.phone %>" readonly>

                                            <% }else{ %>
                                                <input type="number" name="student[phone]" class="form-control" id="phone" placeholder="Phone (+252)">
                                                <% } %>

                                    </div>
                                    <div class="form-group">
                                        <label for="gender">Class: </label>
                                        <select id="gender" name="student[class]" class="form-control custom-select">
                                      <option selected disabled>Select one</option>
                                      <% if(classes){ %> 
                                        <% for(let clss of classes){ %> 
                                            <option value="<%= clss.name %>"><%= clss.name %></option>
                                          <%}%>
                                        <%}%>
                                    </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="age">Age</label>
                                        <input type="number" name="student[age]" class="form-control" id="age" placeholder="Age">
                                    </div>
                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <select id="gender" name="student[gender]" class="form-control custom-select">
                                      <option selected disabled>Select one</option>
                                      <option value="male">Male</option>
                                      <option value="female">Female</option>
                                    </select>
                                    </div>
                                    <div class="form-group mb-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                                            <label class="custom-control-label" for="exampleCheck1">I agree to the <a href="#">terms of service</a>.</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>