<% layout('./layouts/boilerplate') %>
    <% layout ('./layouts/boilerplate') %>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Parents</h1>
                        </div>
                        <div class="col-sm-6 text-right">
                            <a href="/parents/create" type="button" class="btn btn-primary btn-block text-bold"><i class="fa fa-plus-circle mr-1"></i>Add New Parent</a>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Parents List</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Full Name</th>
                                                <th>Phones</th>
                                                <th>Gender</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% parents.forEach((parent, i)=> {  %>
                                                <tr>
                                                    <td>
                                                        <%= i + 1 %>
                                                    </td>
                                                    <td>
                                                        <%= parent.firstname + ' ' + parent.lastname %>
                                                    </td>
                                                    <td>
                                                        <%= parent.phone %>
                                                    </td>
                                                    <td class="text-capitalize">
                                                        <%= parent.gender %>
                                                    </td>
                                                    <td>
                                                        <span class="badge <%= parent.status === true ? 'badge-success' : 'badge-danger' %> ">
                                                                <%= parent.status === true ? 'Active' : 'InActive' %>
                                                             </span>
                                                    </td>
                                                    <td class="project-actions text-center">
                                                        <a class="btn btn-primary btn-sm" href="/parents/<%= parent._id %>/profile">
                                                            <i class="fas fa-folder">
                                                  </i> View
                                                        </a>
                                                        <a class="btn btn-info btn-sm" href="/parents/<%= parent._id %>/edit">
                                                            <i class="fas fa-pencil-alt">
                                                  </i> Edit
                                                        </a>
                                                        <a class="btn btn-danger btn-sm" href="#">
                                                            <i class="fas fa-trash">
                                                  </i> Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Full Name</th>
                                                <th>Phones</th>
                                                <th>Gender</th>
                                                <th>Status</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>