<% layout('./layouts/boilerplate') %>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Teacher Profile</h1>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">

                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid img-circle" src="/dist/img/avatar5.png" alt="User profile picture">
                                </div>

                                <h3 class="profile-username text-center">
                                    <%= teacher.firstname + ' ' + teacher.lastname %>
                                </h3>

                                <p class="text-muted text-center text-capitalize">
                                    <%= teacher.title %>
                                </p>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- About Me Box -->
                        <div class="card card-primary ">
                            <div class="card-header">
                                <h3 class="card-title">About
                                    <%= teacher.firstname %>
                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <ul class="list-group list-group-unbordered mb-3">

                                    <li class="list-group-item">
                                        <b>Gender:</b>
                                        <a class="float-right text-capitalize">
                                            <%= teacher.gender%>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Address: </b>
                                        <a class="float-right">
                                            <%= teacher.address %>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Phone: </b>
                                        <a class="float-right">
                                            <%= teacher.phone%>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Status: </b>
                                        <span class="badge float-right <%= teacher.status === true ? 'badge-success' : 'badge-danger' %> ">
                                            <%= teacher.status === true ? 'Active' : 'InActive' %>
                                         </span>
                                    </li>
                                </ul>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#classes" data-toggle="tab">Classes</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                                </ul>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <!-- //classes SECTION -->
                                    <div class="active tab-pane" id="classes">
                                        <div class="active tab-pane" id="class-list">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h1 class="card-title">Total Students:

                                                    </h1>
                                                </div>
                                            </div>
                                            <table class="table table-striped projects">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 3%">
                                                            #
                                                        </th>
                                                        <th style="width: 20%">
                                                            Class Name
                                                        </th>
                                                        <th style="width: 10%">
                                                            Section
                                                        </th>
                                                        <th style="width: 5%">
                                                            Students
                                                        </th>
                                                        <th style="width: 18%" class="">
                                                            Details
                                                        </th>
                                                        <th style="width: 8%" class="text-center">
                                                            Status
                                                        </th>
                                                        <th style="width: 15%" class="text-center">

                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% teacher.classes.forEach((clss, i)=> { %>
                                                        <tr>
                                                            <td>
                                                                <%= i + 1 %>
                                                            </td>
                                                            <td>
                                                                <%= clss.name %>
                                                            </td>
                                                            <td class="text-capitalize">
                                                                <%= clss.section %>
                                                            </td>

                                                            <td>
                                                                <%= clss.students.length %>
                                                            </td>
                                                            <td>
                                                                <%= clss.details %>
                                                            </td>
                                                            <td class="project-state">
                                                                <span class="badge <%= clss.status === true ? 'badge-success' : 'badge-danger' %> ">
                                                                <%= clss.status === true ? 'Active' : 'InActive' %>
                                                             </span>
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-primary btn-block" href="/classes/<%= clss._id %>/profile">
                                                                    <i class="fas fa-folder">
                                                      </i> View
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <!-- //SETTINGS SECTION -->
                                    <div class="tab-pane" id="settings">
                                        <form id="quickForm" action="/students" method="POST">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="firstname">Firstname</label>
                                                    <input type="text" name="student[firstname]" class="form-control" id="fristname" placeholder="Enter firstname">
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname">Lastname</label>
                                                    <input type="text" name="student[lastname]" class="form-control" id="lastname" placeholder="Lastname">
                                                </div>
                                                <div class="form-group">
                                                    <label for="phone">Phone</label>
                                                    <input type="number" name="student[phone]" class="form-control" id="phone" placeholder="Phone (+252)">
                                                </div>
                                                <div class="form-group">
                                                    <label for="age">Age</label>
                                                    <input type="number" name="student[age]" class="form-control" id="age" placeholder="Age">
                                                </div>
                                                <div class="form-group">
                                                    <label for="gender">Gender</label>
                                                    <select id="gender" name="student[gender]" class="form-control custom-select">
                                                  <option selected disabled>Select one</option>
                                                  <option value="male">Male</option>
                                                  <option value="female">Female</option>
                                                </select>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>